
.search-icon{
    width: 300px;
    height: 40px;
    background-color: white;
    margin-right:-40px;
    position: relative;
}

.search{
    width: 300px;
    height: 40px;
    padding: 10px;
}
.btn{
    border: none;
    background-color: transparent;
    position: absolute;
    top:0;
    right:0;
}