.App {
  text-align: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image-container{
width: 50vw;
padding-left:-10px;
padding-top: 20px;
}
.image{
width: 60.5vw;
height: 70vh;

}

.foodImage{
  width: 100px;
}


footer {
  /* Set your desired styles for the footer here */
  background-color: #f0f0f0;
  padding: 20px;
}

.post{
  position: absolute;
  right:100px;
   background-color: rgb(161, 159, 156); 
  width: 360px;
  height: 360px;
  margin-top: 20px;
}